

body h1 {
  font-family: "Shrikhand", cursive;
}

body p, h2 {
  font-family: "Roboto", sans-serif;
}

  /*HEADER*/

header {
  max-width: 100%;
  height: 65px;
}

.area_logo {
  text-align: center;
  max-width: 100%;
}

.area_logo img {
  height: 35px;
  max-width: 100%;
  margin-top: 20px;
  object-fit: cover;
}

.locate {
  width: 100%;
  background: #EAEAEA;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  inset 0 3px 3px 0 rgba(0, 0, 0, .25);
  
}



.locate i {
  text-align: center;
}

.locate input {
  width: 35%;
  background: #EAEAEA;
  border: none;
  text-align: center;
  font-size: 15px;

}

  /*SEARCH AREA*/

.explorer {
  width: 100%;
  height: 285px;
  margin-top: -15px;
  background-color: #F6F6F6;
  text-align: center;
}

.explorer h2 {
  padding-top: 30px;
  font-size: 18px;
  width: 100%;
}

.explorer p {
  margin: 10px 0 20px;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
}

.explorer button {
  border-radius: 30px;
  width: 57%;
  height: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  background: linear-gradient(90deg, rgb(232, 114, 218) 0%, rgb(166, 92, 219) 100%);
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, .25);
}

.explorer button:hover {
  background: rgb(230,165,226);
  background: linear-gradient(90deg, rgba(230,165,226,1) 0%, rgba(220,96,214,1) 100%);
}


/* fonction area */

.fonction {
  width: 100%;
  height: 130px;
  padding-top: 40px;
  background-color: #FFFFFF;
  text-align: center;
}

.area_title {
  font-size: 20px;
  padding: 0 0 20px 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  margin: auto 0;
}

.bouton_fc {
  width: 100%;
  display: flex;

}

.bouton_fc button {
  border-radius: 20px;
  width: 90%;
  height: 75px;
  border: none;
  background-color: #F6F6F6;
  font-size: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.bouton_fc button:hover {
  background-color: #F5EDFF
}

.bouton_fc i {
  color:#7E7E7E
}

.bouton_fc i:hover {
  color: #9356DC;
}


.circle {
  background: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  vertical-align: center;
  line-height: 20px;
  position: absolute;
  z-index: 2;
}

/* restaurant area */

.resto {
  width: 100%;
  height: 1225px;
  padding-top: 40px;
  background-color: #F6F6F6;
  align-items: center;
  margin-top: 200px; //
}

.resto_card {
  width: 90%;
  height: 255px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.resto_card img {
  max-width: 100%;
  height: 175px;
  object-fit: cover;
  
}

.resto_content{
  text-align: left;
}

.resto_card h3 {

}

.resto_card p{}



