
body {
    max-width: 100%;
    box-sizing: border-box;

    h1 {
        font-family: "Shrikhand", cursive;
      }
      
      p, h2, h3 {
        font-family: "Roboto", sans-serif;
      }

      
      /*HEADER*/
  
    header {
        max-width: 100%;
        height: 65px;
        margin: auto 0;
    
            .area_logo {
                text-align: center;
                max-width: 100%;
                
                img {
                    height: 35px;
                    max-width: 100%;
                    margin-top: 20px;
                    object-fit: cover;
                }

            }

            
    }

    /*LOCATE AREA*/

    .locate {
        width: 100%;
        background: #EAEAEA;
        height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:  inset 0 3px 3px 0 rgba(0, 0, 0, .25);
        
        i {
            text-align: center;
        }
        
        input {
            width: 100%;
            background: #EAEAEA;
            border: none;
            text-align: center;
            font-size: 15px;
        
        }

    }

    /*SEARCH AREA*/
  
    .explorer {
        width: 100%;
        height: 285px;
        margin-top: -15px;
        background-color: #F6F6F6;
        text-align: center;

        h2 {
            padding-top: 30px;
            font-size: 18px;
            width: 100%;
        }

        p {
            margin: 10px 0 20px;
            font-size: 15px;
            font-weight: lighter;
            width: 100%;
        }

        button {
            border-radius: 30px;
            width: 57%;
            height: 50px;
            border: none;
            color: #FFFFFF;
            font-size: 15px;
            background: linear-gradient(90deg, rgb(232, 114, 218) 0%, rgb(166, 92, 219) 100%);
            box-shadow: 0 10px 13px 0 rgba(0, 0, 0, .25);

        &:hover {
            background: rgb(230,165,226);
            background: linear-gradient(90deg, rgba(230,165,226,1) 0%, rgba(220,96,214,1) 100%);
          }
        }
    }

      /* fonction area */
  
        .fonction {
            width: 100%;
            height: 445px;
            padding-top: 40px 0 40px;
            background-color: #FFFFFF;

            .area_title {
                font-size: 20px;
                padding: 0 0 10px 10px;
            }

            .wrapper {
                display: flex;
                width: 100%;
                flex-direction: column;
                text-align: center;
                margin: auto 0;
                justify-content: space-between;
            }

            .bouton_fc {
                width: 100%;
                display: flex;
                margin: 0 auto;
                align-items: center;
                
                button {
                    border-radius: 20px;
                    width: 90%;
                    height: 75px;
                    border: none;
                    background-color: #F6F6F6;
                    font-size: 15px;
                    position: relative;
                    z-index: 1;
                    margin: 10px auto;
                    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, .25);

                    &:hover {
                        background-color: #F5EDFF
                    }
                }
            }
            
            i {
                color:#7E7E7E;
                position: absolute;
                margin-left: 15%;
                z-index: 2;

                &:hover {
                    color: #9356DC;
                }

            }

            .circle {
                background: #9356DC;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                color: #fff;
                font-size: 12px;
                text-align: center;
                vertical-align: center;
                line-height: 20px;
                position: absolute;
                z-index: 2;
                margin-left: 3%;
            }
        }

        /* restaurant area */

        .resto {
            width: 100%;
            height: 1225px;
            padding-top: 30px;
            background-color: #F6F6F6;
            margin: 20px auto;

            .resto_card {
                width: 90%;
                height: 255px;
                border-radius: 20px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                margin: 20px auto;
                box-shadow: 0 8px 6px 0 rgba(0, 0, 0, .25);

                img {
                    max-width: 100%;
                    height: 175px;
                    object-fit: cover;
                    border-radius: 20px 20px 0;
                    position: relative;
                    z-index: 1;
                }

                .new {
                    background-color:  #99E2D0;
                    color: #008766;
                    border-radius: 10%;
                    height: 27px;
                    width: 24%;
                    font-size: 12px;
                    line-height: 25px;
                    position: absolute;
                    margin-left: 60%;
                    z-index: 2;
                }

                .resto_content{
                    width: 65%;
                    height: 75px;
                    text-align: left;
                    padding-left: 10px;
                    line-height: 12px;
                    
                    h3 {
                        font-size: 20px;
                    }
                    
                    p{
                        font-size: 18px;
                    }
    
                    i{
                        font-size: 2rem;
                        position:absolute;
                        right:5rem;
                        top: 74rem;
                        z-index: 1;
                        
                    }
    
                    .fas {
                        color: transparent;
                        background-image: linear-gradient(90deg, rgb(232, 114, 218) 0%, rgb(166, 92, 219) 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        opacity: 0;
                        transition: all 200ms ease-in-out;
                    }
    
                    &:hover .fas {
                        opacity:1;
                        transform: scale(1.2);
                    }
    
                }    

            }

            
        }

        /*FOOTER*/
  
        footer {
            width: 100%;
            height: 198px;
            margin-top: 60px;
            background-color: #353535;
            color: #fff;
            vertical-align: left;
            padding: 20px 0 0 20px;
            
            h1{
                font-size: 20px;
                text-align: left;
              }

              .icon_gap {
                display: flex;
                flex-direction: column;
                text-align: left;

                i {
                    padding-right: 10px;
                    
                  }
              }
            
            ul {
                width: 60%;
                list-style: none;
                text-align: left;
            
                li {
                    margin-bottom: 5px;
                  }
              
            }

            

        
        }
  
 
  
    }
  
        




 
  
  
  
  
  
  
  
  
  
  



  
  

  
  
  
  
  
  
  
  
  

    
  
  
  
  