

h1 {
  font-family: "Shrikhand", cursive;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}


  /*HEADER*/

header {
  max-width: 100%;
  height: 65px;
  margin: auto 0;
}

.area_logo {
  text-align: center;
  max-width: 100%;
}

.area_logo img {
  height: 35px;
  max-width: 100%;
  margin-top: 20px;
  object-fit: cover;
}

.locate {
  width: 100%;
  background: #EAEAEA;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:  inset 0 3px 3px 0 rgba(0, 0, 0, .25);
  
}



.locate i {
  text-align: center;
}

.locate input {
  width: 35%;
  background: #EAEAEA;
  border: none;
  text-align: center;
  font-size: 15px;

}

  /*SEARCH AREA*/

.explorer {
  width: 100%;
  height: 285px;
  margin-top: -15px;
  background-color: #F6F6F6;
  text-align: center;
}

.explorer h2 {
  padding-top: 30px;
  font-size: 18px;
  width: 100%;
}

.explorer p {
  margin: 10px 0 20px;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
}

.explorer button {
  border-radius: 30px;
  width: 57%;
  height: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  background: linear-gradient(90deg, rgb(232, 114, 218) 0%, rgb(166, 92, 219) 100%);
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, .25);
}

.explorer button:hover {
  background: rgb(230,165,226);
  background: linear-gradient(90deg, rgba(230,165,226,1) 0%, rgba(220,96,214,1) 100%);
}


/* fonction area */

.fonction {
  width: 100%;
  height: 445px;
  padding-top: 40px 0 40px;
  background-color: #FFFFFF;
}

.area_title {
  font-size: 20px;
  padding: 0 0 10px 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  margin: auto 0;
  justify-content: space-between;
}

.bouton_fc {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.bouton_fc button {
  border-radius: 20px;
  width: 90%;
  height: 75px;
  border: none;
  background-color: #F6F6F6;
  font-size: 15px;
  position: relative;
  z-index: 1;
  margin: 10px auto;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, .25);
}

.bouton_fc button:hover {
  background-color: #F5EDFF
}

.bouton_fc i {
  color:#7E7E7E;
  position: absolute;
  margin-left: 15%;
  z-index: 2;
}

.bouton_fc i:hover {
  color: #9356DC;
}


.circle {
  background: #9356DC;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  vertical-align: center;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  margin-left: 3%;
}

/* restaurant area */

.resto {
  width: 100%;
  height: 1225px;
  padding-top: 30px;
  background-color: #F6F6F6;
  margin: 20px auto;
}

.resto_card {
  width: 90%;
  height: 255px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, .25);
}

.new {
  background-color:  #99E2D0;
  color: #008766;
  border-radius: 10%;
  height: 27px;
  width: 24%;
  font-size: 12px;
  line-height: 25px;
  position: absolute;
  margin-left: 60%;
  z-index: 2;
}

.resto_card img {
  max-width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 20px 20px 0;
  position: relative;
  z-index: 1;
}

.block {
  display: flex;
}

.block i {
  width: 15%;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 0 0 60px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 400ms;
}

.block i:hover {
  transform: (color: rgba(196, 102, 219, 1));
}

.resto_content{
width: 65%;
height: 75px;
text-align: left;
padding-left: 10px;
line-height: 12px;

}

.resto_card h3 {
  font-size: 20px;
}

.resto_card p{
  font-size: 18px;
}

/*FOOTER*/

footer {
  width: 100%;
  height: 198px;
  margin-top: 60px;
  background-color: #353535;
  color: #fff;
  vertical-align: left;
  padding: 20px 0 0 20px;

}

footer h1{
  font-size: 20px;
  text-align: left;
}

footer ul {
  width: 60%;
  list-style: none;
  text-align: left;

}

footer ul li {
  margin-bottom: 5px;
}

.icon_gap {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.icon_gap i {
  
  padding-right: 10px;
  
}

