@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/variables";
@use "../utils/animations";

header {
    h1 {
        padding-bottom: 1rem;
    }

}

.banner img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
    object-position: center;
}


.resto_title {
    margin-top: -2rem;

    h2 {
        font-family: "Shrikhand", "cursive";
        padding: 2rem 1rem;
        position: relative;
        border-radius: 2rem 2rem 0 0;
        background-color: colors.$slightlygrey;
    }

    .fa-heart {
        position: absolute;
        font-size: 1.5rem;
        right: 3rem;
        top: 29rem;
        background-color: transparent;
        color: colors.$lightgrey;
        border: none;

        @media (max-width: 375px) {
        top: 25.5rem;
        }
        
      }
  
  .fa-heart:hover{
        animation: heart 1s ease-in-out;
        transform: scale(1.2);
        animation-fill-mode: forwards;

      
  }

  @keyframes heart {
    0% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 0%, white 0%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    
    25% {
        background: linear-gradient(0deg, #FF79DA, #9356DC 25%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
    }
    50% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 50%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    100% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

}

.resto-main {
    padding: 2rem 1rem 5rem 0;
    margin-top: -2rem;
    background-color: colors.$slightlygrey;
    .plates {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
    
        @media (max-width: variables.$break-point){
            grid-template-columns: minmax(0, 1fr);
        }

       .plate-group {
         
        h3{
            font-weight: 100;
            border-bottom: 3px solid colors.$light-green;
            padding-bottom: 0.5rem;
            width: 10%;
            margin: 0.5rem 0 1rem 1rem;

         }
        
            .plate-card {
                display: flex;
                background-color: white;
                max-width: 70rem;
                width: 90%;
                border-radius: 1rem;
                margin: 1rem;
                overflow:hidden;
                @media (max-width: variables.$break-point) {
                    width:93%;
                }

                @include mixins.base;  
                .prix {
                    margin-left: auto;
                    font-weight: 900;
                    padding: 1rem;
                    display: flex;
                    align-items: flex-end;
                }
                .plate-description {
                    padding: 1rem 1.5rem 1rem 1rem;
                    overflow: hidden;
                    width: 90%;

                    h4, p {
                        overflow:hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                    }
                }
                .check {
                    display:grid;
                    place-items: center;
                    background-color: colors.$light-green;
                    border-radius: 0 1rem 1rem 0;
                    margin-right: -5rem;
                    width: 5rem;
                    transition: all 1s;

                    i {
                        display:grid;
                        place-items: center;
                        background-color: white;
                        color: colors.$light-green;
                        border-radius: 1rem;
                        height: 2rem;
                        width: 2rem;

                    }
                }
                
                &:hover  {
                    .check {
                        margin-right: 0;
                    }
                    i {
                        @include animations.spin;
                        animation: spin 1s ease-in-out;
                    }
                    .plate-description {     /* comment faire?? */
                        overflow:hidden;
                    }
                    
                }
            }
       }
    }
       .order-button {
            text-align: center;
            padding-bottom: 4rem;

           button {
               color: #ffff;
               font-weight: 300;
               font-size: 1rem;
               padding: 1rem 2rem;
               border: none;
               border-radius: 2rem;
               transition: transform 200ms;
               margin-top: 2rem;
               width: 12rem;
               @include mixins.base;
               @include mixins.gradient(0.9);

               &:hover {
                opacity: 0.9;
                @include mixins.zoom;
            }

           }
       }
   
           
   
       
       
    }
    


