@use "../utils/mixins";
@use "../utils/colors";


.explorer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: colors.$slightlygrey;

     & h2{
        font-size: 1.5rem;
    }
    
     & p {
        font-size: 1.2rem;
        font-weight: 100;
    }
    
    & button {
        color: #ffff;
        font-weight: 300;
        font-size: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        transition: transform 200ms;
        margin-top: 2rem;
        @include mixins.base;
        @include mixins.gradient(0.9);
    }

    & button:hover {
        opacity: 0.9;
        @include mixins.zoom;
    }
}


 