@use "../utils/colors.scss";

footer {
    background-color: colors.$darkgrey; 
    padding: 1rem 2rem;
    color: white;
    margin-top: -5rem;
    h3 {
        font-family: "shrikhand", sans-serif;
        font-weight: 500;
        padding: 1rem 0;
    }
    p {
        padding: 0.2rem;
    }
    .fa-utensils {
        margin-right: 1rem;
      }
    .fa-handshake-angle {
        margin-right: 0.6rem;
    }
}